*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#abc1234
{
 background-color: rgb(223, 221, 221);
 height: 100vh;
}
#div12234
{
  
    height: 400px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}
#div12234 div:nth-of-type(1)
{
   
    display: flex;
    align-items: center;
    justify-content: center;
}
#div12234 div:nth-of-type(2)
{
    
    display: flex;
    justify-content: center;
    padding-top: 50px;
}